<p>Add a vendor here:</p>

<form action="/vendor" method="post">
  <label for="vendorFirstName">Fist Name: </label>
  <input id="vendorFirstName" name="vendorFirstName" type="text">
  <label for="vendorLastName">Last Name: </label>
  <input id="vendorLasttName" name="vendorLastName" type="text">
  <p>Address</p>
  <label for="vendorStreetNumber">Street #: </label>
  <input id="vendorStreetNumber" name="vendorStreetNumber" type="number">
  <label for="vendorStreetName">Street Name: </label>
  <input id="vendorStreetName" name="vendorStreetName" type="text">
  <label for="vendorCity">City: </label>
  <input id="vendorCity" name="vendorCity" type="text">
  <label for="vendorState">City: </label>
  <input id="vendorState" name="vendorState" type="text">
  <label for="vendorZip">Zip: </label>
  <input id="vendorZip" name="vendorZip" type="number">
  <label for="vendorDescription">Vendor Description </label>
  <input id="vendorDescription" name="vendorDescription" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/vendors">Back to vendors.</a></p>