<div id="header">
  <div style="display: inline-block; padding-right: 7px;">
    <img width="35px;" height="35px;" src="~/img/bread.png" alt="bread-img">
  </div>
  <div style="display: inline-block;">
    <h6><b>Pierre's Vendors and Order Tracker</b></h6>
  </div>
  <div style="display: inline-block;">
    <div style="width: 5px; height: 5px; border-radius: 50%; background-color:blue;">
    </div>
  </div>
</div>
<div style="margin-top: 100px;"></div>